body {
  background-color: #f2f2f2;
  margin:0;
  font-family: 'YaHei';
  min-width: 600px;
}
@font-face {
  font-family: 'YaHei';
  src: url('@/assets/MSYH.TTC');
}
.el-menu-item.is-active { background-color:#E3F5FD!important; }
.el-form {
  --el-form-label-font-size: 16px !important;
}
.el-form-item__content{
  font-size:16px !important;
}
:root {
  --el-color-primary: #00a1e9;
  --el-border-width:0.05vw;
}
.el-input__wrapper{
  border: 0.05vw solid #D4D4D4 !important;
  box-shadow:0 0 0 0.02vw var(--el-input-border-color,var(--el-border-color)) inset
}
.el-radio{
  --el-radio-input-border: 0.05vw solid #D4D4D4 !important;
}
.el-input__wrapper.is-focus{
  box-shadow: 0 0 0 0.10vw #00a1e9 inset;
}
.el-input__wrapper:hover{
  box-shadow: 0 0 0 0.10vw #c0c4cc inset;
}
.el-color-picker__trigger{
  border: 0.05vw solid #D4D4D4 !important;
}
.el-color-picker__color{
  border: 0.05vw solid #909399 !important;
}
.md-editor-toolbar{
  height:1.5vw;
}
.el-button{
  border: 0.05vw solid #dcdfe6 !important;
}
.el-select__wrapper{
  box-shadow: 0 0 0 0.05vw #c0c4cc inset;
}
.el-checkbox__inner::after{
  top: 0.05vw;
  border: 0.05vw solid transparent;
  border-left:0;
  border-top:0;
}
.el-divider--horizontal{
  border-top: 0.05vw var(--el-border-color) var(--el-border-style);
}